<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
    <h1 class="text-4xl font-bold text-center text-blue-600 mb-4">Welcome to the Showroom</h1>
  
    <nav class="mb-6">
      <ul class="flex space-x-4">
        <li>
          <a routerLink="/"  class="text-blue-500 hover:text-blue-700">Home</a>
        </li>
        <li>
          <a routerLink="/showroom-management" class="text-blue-500 hover:text-blue-700">Showroom</a>
        </li>
      </ul>
    </nav>
    <p class="text-gray-700">Explore our amazing showrooms filled with the best vehicles.</p>
  </div>
  


